service se_omapi /system/bin/pbrp-a16-wrap /system/bin/se_omapi
    class hal
    disabled
    user root
    group root
    interface aidl android.se.omapi.ISecureElementService/default
    seclabel u:r:recovery:s0
